/* .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .24rem;
}

input {
    font-size: 1rem;
}

.produtos-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
} */

.hide {
    display: none !important; 
}

.btn-qblue {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #00968F !important;
    --bs-btn-border-color: #00968F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #05aaa2;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #00968F;
    --bs-btn-disabled-border-color: #00968F;
}